<div class="col-md-12 pt-3">
  <div
    class=" kt-container kt-grid__item kt-grid__item--fluid kt-container--fluid"
  >
    <h2>Detalles de Sentimiento por Entidad</h2>
  </div>
  <div class="row">
    <div class="col-xl-12">
      <div class="row row-full-height">
        <div class="col-md-4">
          <div class="kt-portlet p-3  kt-portlet--border-bottom-brand h-50">
            <app-entity-box
              (selected)="selectedEntity($event)"
              [loading]= "loading"
              [data]= entities
            ></app-entity-box>
          </div>
        </div>
        <div class="col-md-8">
          <div class="row">
            <div class="col-xl-12">
              <div class="kt-portlet p-3  kt-portlet--border-bottom-brand">
                <google-chart
                  *apploading="chartsLoading"
                  [data]="scoreByMention"
                  [type]="'ColumnChart'"
                  [options]="{
                    legend: { position: 'none' },
                    hAxis: { title: 'Puntuación' },
                    vAxis: { title: 'Número de menciones' }
                  }"
                  [title]="
                    'Histograma de puntajes de sentimiento para cada mención'
                  "
                  [columnNames]="['Menciones', 'Puntuación']"
                  [width]="700"
                  [height]="200"
                ></google-chart>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xl-12">
              <div class="kt-portlet p-3  kt-portlet--border-bottom-brand">
                <google-chart
                  *apploading="chartsLoading"
                  [data]="averages"
                  [type]="'LineChart'"
                  [options]="{
                    legend: { position: 'none' },
                    hAxis: { title: 'Fecha' },
                    vAxis: { title: 'Puntuación' }
                  }"
                  [title]="
                    'Puntajes de sentimiento promedio a lo largo del tiempo'
                  "
                  [width]="700"
                  [height]="200"
                ></google-chart>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
