<div class="col-md-12 pt-3">
    <div
      class=" kt-container kt-grid__item kt-grid__item--fluid kt-container--fluid"
    >
      <h2>Detalles de Sentimiento por Entidad</h2>
    </div>
    <div class="row">
      <div class="col-xl-6">
        <div class="row row-full-height">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="kt-portlet p-3  kt-portlet--border-bottom-brand">
              <h5>Histograma de puntajes de sentimiento para cada mención</h5>
     <!--          <google-chart
                [data]="byMention"
                [type]="'Histogram'"
                [options]="options"
                [title]="'¿Cuántas reseñas se reciben mensualmente?'"
                [columnNames]="['Year', 'Asia']"
                [width]="1000"
                [height]="250"
              ></google-chart> -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-6">
        <div class="row row-full-height">
          <div class="col-sm-12 col-md-12 col-lg-6">
            <div class="kt-portlet p-3  kt-portlet--border-bottom-brand">
              <h5>Puntajes de sentimiento promedio a lo largo del tiempo</h5>
              <!--         <google-chart
                  [data]="languages"
                  [type]="'PieChart'"
                  [columnNames] = "['Browser', 'Percentage']"
                  [title]="
                    '¿Qué idioma se usa en la sección de comentarios del formulario?'
                  "
                  [width]="450"
                ></google-chart> -->
            </div>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-6">
            <div class="kt-portlet p-3  kt-portlet--border-bottom-brand">
              <h5>P---o</h5>
              <!--         <google-chart
                  [data]="languages"
                  [type]="'PieChart'"
                  [columnNames] = "['Browser', 'Percentage']"
                  [title]="
                    '¿Qué idioma se usa en la sección de comentarios del formulario?'
                  "
                  [width]="450"
                ></google-chart> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  