<div class="col-md-12 pt-3">
  <div
    class=" kt-container kt-grid__item kt-grid__item--fluid kt-container--fluid"
  >
    <h2>Actividad de las respuestas</h2>
  </div>
  <div class="row">
    <div class="col-xl-12">
      <div class="row row-full-height">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <div class="kt-portlet p-3  kt-portlet--border-bottom-brand">
            <h5>Comentarios</h5>
            <div 
              *empty="monthlyReviews"
              >
              <google-chart
                class="chart"
                *apploading="loading"
                [data]="monthlyReviews"
                [type]="'ColumnChart'"
                [options]="{
                bar: { groupWidth: '30%' },
                legend: { position: 'none' }
                }"
                [title]="'¿Cuántas reseñas se reciben mensualmente?'"
                [columnNames]="['Fecha', 'Comentarios']"
              ></google-chart>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-12">
      <div class="row row-full-height">
        <div class="col-sm-12 col-md-12 col-lg-6">
          <div class="kt-portlet p-3  kt-portlet--border-bottom-brand">
            <h5>Idiomas</h5>
            <div
              *empty="languages"
            >

            </div>
            <google-chart
            class="chart"
              *apploading="loading"
              [data]="languages"
              [type]="'PieChart'"
              [columnNames]="['Browser', 'Percentage']"
              [title]="
                '¿Qué idioma se usa en la sección de comentarios del formulario?'
              "
            ></google-chart>
          </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6">
          <div class="kt-portlet p-3  kt-portlet--border-bottom-brand">
            <h5>Idiomas</h5>
            <div
              *empty="otherLanguages"
            >
          >
            <google-chart
            class="chart"
              *apploading="loading"
              [data]="otherLanguages"
              [type]="'BarChart'"
              [options]="{ legend: { position: 'none' } }"
              [title]="
                '¿Qué otros idiomas se usan en la sección de comentarios del formulario?'
              "
            ></google-chart>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
