table {
  tr {
    cursor: pointer;

    td > mat-icon{
      display: none;
      font-size: 15px;
    }
  }
  tr:hover > td {
    color: blue;
  }
  tr.active > td > mat-icon {
    display: inline;
  }
}
