<div class="d-flex justify-content-center">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="d-flex justify-content-center p-10 p-3" id="logo">
      <img src="../assets/telcel.svg" alt="" />
    </div>
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input id="email" matInput formControlName="email" />
      <mat-error *ngIf="loginForm.get('email').hasError('email')">
        Email no es válido
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input id="password" matInput formControlName="password" />
    </mat-form-field>
    <button
      mat-button
      mat-raised-button
      color="primary"
      type="submit"
      id="submit"
      [disabled]="loginForm.invalid"
    >
      Ingresar
    </button>
    <mat-error *ngIf="loginError">
      Email ó contraseña no son válidos
    </mat-error>
  </form>
</div>
