<h2 mat-dialog-title>Comentario</h2>

<mat-dialog-content class="mat-typography">
  <div class="d-flex flex-column">
    <p *ngIf="review">{{ review.comment }}</p>
    <textarea
      cols="30"
      rows="10"
      placeholder="Escribe una respuesta..."
      required
      minlength="5"
      name="answer"
      [(ngModel)]="model.answer"
      #answer="ngModel"
      required
      id="answer"
      [disabled]=data.review.reply

    ></textarea>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-raised-button mat-dialog-close>
    Regresar
  </button>
  <button
    mat-button
    mat-raised-button
    color="primary"
    cdkFocusInitial
    (click)="submitReply()"
    [disabled]="answer.invalid"
    id="submit"
    *ngIf=!data.review.reply
  >
    Contestar
  </button>
</mat-dialog-actions>
